.sidebar-transition { transition: transform 0.3s ease-in-out;}
.text-ngajar-green { color: #00AF81; }
.bg-ngajar-green { background-color: #00AF81; }
.bg-ngajar-white { background-color: #FFF; }
.border-ngajar-green { border-color: #00AF81; }
.border-ngajar-green-lighter { border-color: #B3E5D7; }
.bg-ngajar-banner-teal { background-color: #00AF81; }
.bg-ngajar-stats-blue { background-color: #38BDF8; }
.text-ngajar-content-teal { color: #00AF81; }